:root{
    --color_1: #29B1DD;
    --color_2: #DDDDDD
}
.logo{
    font-weight: 700;
    color: var(--color_1);
}

nav {
    background-color: var(--color_1);
    color: white;
    text-align: center;
    padding: 1rem 0;
    text-transform: uppercase;
}
main{
    background-color: var(--color_2);
    height: calc(100vh - 110px);
}
.container-fluid{
    height: 100%;
}